.flash-success,
.flash-info,
.flash-warning,
.flash-error {
	padding: $small-spacing;
	margin: $small-spacing 0;
	line-height: 1.15;
	display: block;
}
.flash-success {
	background-color: shade($green, 33%);
	color: #fff;
}
.flash-info {
	background-color: $blue;
	color: #fff;
}
.flash-warning {
	background-color: $yellow;
	color: #fff;
}
.flash-error {
	background-color: $error-color;
	color: #fff;
}